<h1>BOOK VALUE CALCULATOR DEV UI</h1>
<p>
  GUARDIANS PATCH 3: <br>
  - guardians in the book of fighting (hopefully i guessed how the data looks like) <br>
  - added footer <br>
  - collapsing pots vs hammer interface <br>
  - pets in the book of heroes <br>
  - now showing max level <br>
  TO DO: <br>
  - mobile compatibility 😭 <br>
</p>
<label>PLAYER JSON DATA</label>
<input
  type="text"
  [(ngModel)]="rawPlayerData"
  (input)="processRawPlayerData()"
  style="width: 94.5%;"
>
<button routerLink="/building">BUILDING</button>
<button routerLink="/fighting">FIGHTING</button>
<button routerLink="/heroes">HEROES</button>
<button routerLink="/spells">SPELLS</button>
@if (playerData! == undefined || playerData!.tag === 'ERROR') {
  @if (playerData!.tag === 'ERROR') {
    <h1>ERROR PARSING PLAYER DATA, MAKE SURE THE DATA YOU PROVIDED IS CORRECT</h1>
  }
  <h1>INSTRUCTIONS FOR HOW TO GET PLAYER DATA HERE WITH PICS N ALLAT</h1>
} @else {
  <router-outlet></router-outlet>
}
<div style="position: fixed; top: 95%; right: 0; justify-items: center; background-color: #363940; border-top: 1px solid white; width: 100%;">
  <p style="margin-top: 10px">Made by Astrum Nova, <a href="https://github.com/astrum-nova/CoC-Book-Value-Calculator">Github Repository</a></p>
</div>
